---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Residences">
  <div class="container flex flex-col py-6 gap-6">
    <h1>Find your rest in our holiday homes in Hanzestad, Stavoren.</h1>
  </div>
</Layout>
