---
import { SITE_LOCALE } from "../lib/consts";
import type { Props } from "../lib/defs";

// Astro props
const { pageTitle } = Astro.props;

// Components
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
---

<!doctype html>
<html lang={SITE_LOCALE} class="bg-[#FCF0D8] text-primary-950">
  <Head pageTitle={pageTitle} />
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
